html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


.block {
display: flex;
flex-direction: column;
padding-top: 50px;
padding-bottom: 50px;
width: 200px;
height: 200px;
background-color: rgb(55,146,179, .3);
border: 2px solid black;
border-radius: 5px;
}

.title {
    margin: auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2E2B44;
    }
    
    .age {
    margin: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    }

.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    background-color:aliceblue;
}


.btn {
    padding: 10px;
    background-color: rgba(15, 133, 197, 0.3);
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    color: #FFFFFF;
    border: none;
    background-color: #3d3c3a;
  }